body
        			{
						background-color: black;
						background-image: url("http://cdn.animalhi.com/1280x800/20121101/red%20china%20russia%20panda%20bears%20anime%20axis%20powers%20hetalia%201280x800%20wallpaper_www.animalhi.com_38.jpg");
						background-repeat: no-repeat;
						background-size:cover;
						overflow: hidden;
					}
					.clockcontainer
						{
							position: absolute;
							top: 2%;
							right: 2%;
						}
						
					.clock
        				{
							color:snow;
							font-family: monospace;
           					font-size: 40px;
						}

					.switchcontainer
						{
							position: absolute;
							bottom: 2%;
							left: 2%
						}

					a
						{
							position: relative;
							display: grid;
							padding: 15px 30px;
							color: snow;
							text-align: center;
  							text-transform: uppercase;
  							letter-spacing: 5px;
  							text-decoration: none;
  							font-size: 40px;
							overflow: hidden;
						}
						a:hover
							{
								background: black;
								color:firebrick;
  								box-shadow: 0 0 10px crimson, 0 0 40px crimson, 0 0 80px crimson;
  								transition-delay: 1s;
							}
					a span
						{
  							position: absolute;
							  display: block;
						}
						a span:nth-child(1)
							{
								top: 0;
  								left: -100%;
  								width: 100%;
  								height: 2px;
								background: linear-gradient(90deg, transparent,snow);
							}
							a:hover span:nth-child(1)
								{
									left: 100%;
									transition: 1s;
								}
						a span:nth-child(3)
							{
 					 			bottom: 0;
 								right: -100%;
								width: 100%;
								height: 2px;
  								background: linear-gradient(270deg, transparent,snow);
							}
							a:hover span:nth-child(3)
							{
  								right: 100%;
  								transition: 1s;
  								transition-delay: .5s;
							}
						a span:nth-child(2)
							{
  								top: -100%;
  								right: 0;
  								width: 2px;
  								height: 100%;
								background: linear-gradient(180deg, transparent, snow);
							}
							a:hover span:nth-child(2)
								{
  									top: 100%;
  									transition: 1s;
									  transition-delay: .25s;
								}
						a span:nth-child(4)
							{
  								bottom: -100%;
  								left: 0;
  								width: 2px;
  								height: 100%;
								background: linear-gradient(0deg, transparent, snow);
							}
							a:hover span:nth-child(4)
								{
  									bottom: 100%;
  									transition: 1s;
									transition-delay: .75s;
								}