body
					{
						background: crimson;
						display: grid;
						grid-template-areas: 
							"header header header"
    						"nav section aside"
    						"nav section footer";
						grid-template-rows: 80px 1fr 50px;
						grid-template-columns: 15% 1fr 18%;
						grid-gap: 5px;
  						margin: 10px;
						color: snow;
						text-align: center;
						overflow-x: hidden;
						overflow-y: hidden;
					}
				
				.clockcontainer
					{
						position:absolute;
					}

				header
					{
						background: black;
						grid-area: header;
					}

				nav
					{
						background: black;
						grid-area: nav;
					}

				section
					{
						background: black;
						grid-area: section;    
					}
				
				aside
					{
						background: black;
						grid-area: aside; 
					}

					
				footer
					{
						background: black;
						grid-area: footer;

					}