  <div class="text-center">
    <h1>- - - - - - - - - - - - - - - - - - - - - - - - - - -</h1>
    <h1>Access Authorised</h1>
    <h1>- - - - - - - - - - - - - - - - - - - - - - - - - - -</h1>
    <h2>Welcome <%= user.name %></h2>
    <h1>_____________________________________________________</h1>
    <a href="/users/logout" class="btn btn-danger">Logout</a>
    <a href="https://sierra007117.github.io/Digital-DashBoard/" class="btn btn-info">DashBoard</a>
  </div>